<div class="col-md-10">
  <table class="ui celled blue table ">
    <thead>
    <tr>
      <th>File Name</th>
      <th>Author</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
      <td>{{document.filename}}</td>
      <td>{{document.author}}</td>
      <td>
        <button class="ui right  medium primary labeled icon button" (click)="updateDocument(document)" > Download</button></td>
        <td><button class="ui right  medium negative labeled icon button" (click)="deleteDocument(document)"> Delete</button></td>
    </tr>
    </tbody>

    <tfoot>
      <tr><th colspan="5">
        <div class="item ui right floated pagination menu">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
      </th>
    </tr></tfoot>
  </table>

</div>

