<form class="ui large form ">

  <input type="file" #file (change)="uploadFile($event)" name="imageUpload" id="imageUpload"/>
 
  <div class="field">
    <label for="author">Author:</label>
    <input name="author" id="author" #author>  
  </div>
  <div class="field">
    <label for="tags">Tags or Comments:</label>
    <input name="tags" id="tags" #tags> 
  </div>
  <button (click)="addDocument(file, author, tags)"
          class="ui positive right floated button">
    Upload Document
  </button>
</form>

<div class="ui grid documents">
  <app-document
    [documents]="documents">
  </app-document>
</div>
