<form class="ui large form ">

  <input type="file" #newfile (change)="uploadFile($event)" name="imageUpload" id="imageUpload"/>
 
  <div class="field">
    <label for="author">Author:</label>
    <input name="author" id="author" #newauthor>  <!-- changed -->
  </div>
  <div class="field">
    <label for="tags">Tags:</label>
    <input name="tags" id="tags" #newtags> <!-- changed -->
  </div>
 <!-- added this button -->
  <button (click)="addDocument(newfile, newauthor, newtags)"
          class="ui positive right floated button">
    Upload Document
  </button>
</form>

<div class="ui grid documents">
  <app-document
    [documents]="documents">
  </app-document>
</div>
